@use "../mixins" as *;

.price {
  background: linear-gradient(180deg, #f5f5f6 0%, #fff 100%);
  padding: clamp(2rem, 6.5vw, 5.625rem) 0;

  &__list {
    @include flex-justify-center;
    flex-wrap: wrap;
    gap: clamp(.5rem, 1.5vw, 1.25rem);

    &-item {
      flex: 1;
      max-width: 380px;
      min-width: 250px;
      border: 1px solid var(--black-10);
      border-radius: 16px;
      padding: .5rem;
      background: var(--white);
      height: 100%;
      transition: var(--duration);

      &:hover {
        transform: translateY(-5px);
      }

      &-top {
        @include flex-all-sb;
        padding: clamp(.5rem, 1.5vw, 1rem) clamp(.75rem, 2vw, 1.5rem);
        margin-bottom: 0.5rem;

        h4 {
          font-weight: 600;
          font-size: clamp(.85rem, 1.5vw, 1.125rem);
          line-height: 133%;
          color: var(--black-100);

          span {
            color: var(--black-20);
          }
        }
      }

      &-img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: .5rem;
      }

      &-content {
        padding: clamp(.5rem, 2vw, 1.5rem);
        @include flex-column;
        gap: clamp(.5rem, 2vw, 1.5rem);

        ul {
          @include flex-column;
          gap: clamp(.25rem, 1vw, .75rem);

          li {
            position: relative;
            padding-left: .5rem;

            p {
              font-weight: 400;
              font-size: clamp(.8rem, 1.5vw, 1rem);
              line-height: 137%;
              color: var(--black-70);

              span {
                font-weight: 600;
                color: var(--green-100);
              }
            }
          }
        }
      }
    }
  }
}
